*{margin: 0%;}



main {
    
    width: 360px;
    background-color: #ff6356;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
}

header {
    
    text-align: center;
    color: white;
    height: 250px;
}

header img {
    
    height: 120px;
    margin-top: 10px;
}

header h2 {
    
    margin-top: 20px 0;
    padding: 10px;
    color: black;
    
}

header p {
    
    font-size: 22px;
    padding: 10px;
    
  
}

#content {
    
    background-color: aliceblue;
}

#btns {
    
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

#btns img {
    
    width: 45px;
    height: 45px;
    margin: 0 15px;
}



#volume {
    
    text-align: center;
}

#volume input {
    
    width: 100%;
}

input[type="range" i] {
    
    background-color: #434343;
    -webkit-appearance: none;
    height: 4px;
    margin: 0%;
}


#volume h2 {
    
    margin: 15px 0;
}


#colort{
    text-align: center;
    margin-top:15px;
}
#colort button{
    margin-top: 12px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 0px solid white;
}
#color1{
    background:rgb(118, 206, 227);
}
#color2{
    background:#ff5353;
}
#color3{
    background:#009688;
}
#color4{
    background:#b1d43c;
}











